3. **feature engineering**
    
    feature engineering은 모델의 성능을 향상시키기 위해 중요한 단계입니다. 2번 feature 분석에서 얻은 데이터에 대한 이해를 바탕으로 아래의 feature engineering을 수행해주세요. 
    
    **3-1. 결측치 처리**
    
    Age(나이)의 결측치는 중앙값으로, Embarked(승선 항구)의 결측치는 최빈값으로 대체해주세요. 모두 대체한 후에, 대체 결과를 `isnull()` 함수와 `sum()`  함수를 이용해서 확인해주세요.

In [11]:
titanic['age'].fillna(titanic['age'].median(), inplace=True)
titanic['embarked'].fillna(titanic['embarked'].mode()[0], inplace=True)

print(titanic['age'].isnull().sum())
print(titanic['embarked'].isnull().sum())

0
0

1. titanic['age'].fillna(titanic['age'].median(), inplace=True)
titanic 데이터프레임의 age 열에 있는 결측값을 age 열의 중앙값(median)으로 대체한다.

2. titanic['embarked'].fillna(titanic['embarked'].mode()[0], inplace=True)
titanic 데이터프레임의 embarked 열에 있는 결측값을 embarked 열의 최빈값(mode)으로 대체한다. 최빈값이 여러 개 있을 수 있으므로 [0]으로 첫 번째 최빈값을 사용한다.

3. print(titanic['age'].isnull().sum())
age 열에 남아 있는 결측값의 수를 출력한다. 앞서 결측값을 중앙값으로 모두 대체했으므로, 출력값은 0이어야 한다.

4. print(titanic['embarked'].isnull().sum())
embarked 열에 남아 있는 결측값의 수를 출력한다. 앞서 결측값을 최빈값으로 모두 대체했으므로, 출력값은 0이어야 한다.

**3-2. 수치형으로 인코딩**

Sex(성별)를 남자는 0, 여자는 1로 변환해주세요. alive(생존여부)를 yes는 1, no는 0으로 변환해주세요. Embarked(승선 항구)는 ‘C’는 0으로, Q는 1으로, ‘S’는 2로 변환해주세요. 모두 변환한 후에, 변환 결과를 `head` 함수를 이용해 확인해주세요.

In [12]:
titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})
titanic['alive'] = titanic['alive'].map({'yes': 1, 'no': 0})
titanic['embarked'] = titanic['embarked'].map({'C': 0, 'Q': 1, 'S': 2,})

print(titanic['sex'].head())
print(titanic['alive'].head())
print(titanic['embarked'].head())

0    0
1    1
2    1
3    1
4    0
Name: sex, dtype: int64
0    0
1    1
2    1
3    1
4    0
Name: alive, dtype: int64
0    2
1    0
2    2
3    2
4    2
Name: embarked, dtype: int64

1. titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})
sex 열의 값인 'male'과 'female'을 각각 0과 1로 변환한다.

2. titanic['alive'] = titanic['alive'].map({'yes': 1, 'no': 0})
alive 열의 값인 'yes'와 'no'를 각각 1과 0으로 변환한다.

3. titanic['embarked'] = titanic['embarked'].map({'C': 0, 'Q': 1, 'S': 2})
embarked 열의 값인 'C', 'Q', 'S'를 각각 0, 1, 2로 변환한다.

4. print(titanic['sex'].head())
sex 열의 첫 5개의 값을 출력한다. 값이 0과 1로 변환되었는지 확인할 수 있다.

5. print(titanic['alive'].head())
alive 열의 첫 5개의 값을 출력한다. 값이 0과 1로 변환되었는지 확인할 수 있다.

6. print(titanic['embarked'].head())
embarked 열의 첫 5개의 값을 출력한다. 값이 0, 1, 2로 변환되었는지 확인할 수 있다.

**3-3. 새로운 feature 생성**

SibSip(타이타닉호에 동승한 자매 및 배우자의 수), Parch(타이타닉호에 동승한 부모 및 자식의 수)를 통해서 family_size(가족크기)를 생성해주세요. 새로운 feature를 `head` 함수를 이용해 확인해주세요.

두 열 모두 승객 자신을 제외한 배우자, 형제자매, 부모, 자녀 등의 수를 나타내는 수기 때문에 가족의 수를 알기 위해서는 두 수에서 자신의 숫자를 더해줘야하기때문에 SibSip + Parch +1 로 한다.

In [33]:
titanic['family_size'] = titanic['sibsp'] + titanic['parch'] + 1

print(titanic['family_size'].head())

0    2
1    2
2    1
3    2
4    1
Name: family_size, dtype: int64

#자체 평가 의견: 협업을 위한 깃허브 사용에 무척 어려움을 겪었다.